<br />
@*====================================================
                           HOME-P
    ======================================================*@
<div id="home-p" class="home-p pages-head1 text-center">
    <div class="container">
        <h1 class="wow fadeInUp" data-wow-delay="0.1s">Some of our Services</h1>
        <p>Book now an Appointment!</p>
    </div>
</div>
<br />
@*====================================================
                           ABOUT-P2
    ======================================================*@
<section class="about-p2 bg-gradiant">
    <div class="container-fluid">
        <div class="row">
            <div class="about-p2-heading">
                <h1 class="cl-white">Free Checkup to your Car</h1>
                <div class="heading-border-light bg-white"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="about-p2-cont cl-white">
                    <img src="~/img/news/news-5.jpg" class="img-fluid wow fadeInUp" data-wow-delay="0.1s" alt="...">
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-p2-cont cl-white wow fadeInUp" data-wow-delay="0.3s">
                    <h5>WEB &amp; INTERACTIVE DESIGN</h5>
                    <p class="cl-white">The most impressive websites and app experiences are rooted in smart design, embody clear vision, and are backed by the right technology. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-p2-cont cl-white wow fadeInUp" data-wow-delay="0.5s">
                    <h5>BRANDING &amp; STRATEGY</h5>
                    <p class="cl-white">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
@*====================================================
                           ABOUT-P2
    ======================================================*@
<section class="about-p2 bg-gradiant">
    <div class="container-fluid">
        <div class="row">
            <div class="about-p2-heading">
                <h1 class="cl-white">Clutch Replacement</h1>
                <div class="heading-border-light bg-white"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="about-p2-cont cl-white">
                    <img src="~/img/img/image-3.jpg" class="img-fluid wow fadeInUp" data-wow-delay="0.1s" alt="...">
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-p2-cont cl-white wow fadeInUp" data-wow-delay="0.3s">
                    <h5>WEB &amp; INTERACTIVE DESIGN</h5>
                    <p class="cl-white">The most impressive websites and app experiences are rooted in smart design, embody clear vision, and are backed by the right technology. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-p2-cont cl-white wow fadeInUp" data-wow-delay="0.5s">
                    <h5>BRANDING &amp; STRATEGY</h5>
                    <p class="cl-white">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
@*====================================================
                           ABOUT-P2
    ======================================================*@
<section class="about-p2 bg-gradiant">
    <div class="container-fluid">
        <div class="row">
            <div class="about-p2-heading">
                <h1 class="cl-white">Lightning Checkup</h1>
                <div class="heading-border-light bg-white"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="about-p2-cont cl-white">
                    <img src="~/img/img/img-4.jpg" class="img-fluid wow fadeInUp" data-wow-delay="0.1s" alt="...">
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-p2-cont cl-white wow fadeInUp" data-wow-delay="0.3s">
                    <h5>WEB &amp; INTERACTIVE DESIGN</h5>
                    <p class="cl-white">The most impressive websites and app experiences are rooted in smart design, embody clear vision, and are backed by the right technology. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-p2-cont cl-white wow fadeInUp" data-wow-delay="0.5s">
                    <h5>BRANDING &amp; STRATEGY</h5>
                    <p class="cl-white">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
@*====================================================
                           ABOUT-P2
    ======================================================*@
<section class="about-p2 bg-gradiant">
    <div class="container-fluid">
        <div class="row">
            <div class="about-p2-heading">
                <h1 class="cl-white">Tire Repair and Change</h1>
                <div class="heading-border-light bg-white"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="about-p2-cont cl-white">
                    <img src="~/img/img/img-1.jpg" class="img-fluid wow fadeInUp" data-wow-delay="0.1s" alt="...">
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-p2-cont cl-white wow fadeInUp" data-wow-delay="0.3s">
                    <h5>WEB &amp; INTERACTIVE DESIGN</h5>
                    <p class="cl-white">The most impressive websites and app experiences are rooted in smart design, embody clear vision, and are backed by the right technology. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-p2-cont cl-white wow fadeInUp" data-wow-delay="0.5s">
                    <h5>BRANDING &amp; STRATEGY</h5>
                    <p class="cl-white">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>
            </div>
        </div>
    </div>
</section>
