<br />
@*====================================================
                           HOME-P
    ======================================================*@
<div id="home-p" class="home-p pages-head1 text-center">
    <div class="container">
        <h1 class="wow fadeInUp" data-wow-delay="0.1s">@*Businessbox is fully responsive and Clean*@</h1>
        <p>@*Discover more about us*@</p>
    </div>
</div>
<br />
@*====================================================
                            ABOUT-P1
    ======================================================*@
<section id="about-p1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="about-p1-cont">
                    <h1>Projeto realizado por:  </h1>
                    <h2>Daniel Raimundo</h2>
                    <h2>CET-58</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-p1-img">
                    <img src="~/img/ipad-tablet.png" class="img-fluid wow fadeInUp" data-wow-delay="0.1s" alt="...">
                </div>
            </div>
        </div>
    </div>
</section>
<br />

